<section
  class="elementor-section elementor-top-section elementor-element elementor-element-fba6dd1 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
  data-id="fba6dd1"
  data-element_type="section"
>
  <div class="elementor-container elementor-column-gap-no">
    <div
      class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-c215bc9"
      data-id="c215bc9"
      data-element_type="column"
    >
      <div class="elementor-widget-wrap elementor-element-populated">
        <div
          class="elementor-element elementor-element-dca4a7c elementor-align-left elementor-widget elementor-widget-pages-header"
          data-id="dca4a7c"
          data-element_type="widget"
          data-widget_type="pages-header.default"
        >
          <div class="elementor-widget-container">
            <div class="banner-container">
              <div class="banner-img">
                <img
                  decoding="async"
                  class="banner-img-width"
                  src="/ce-content/uploads/2021/06/topbanner.jpg"
                  alt=""
                />
              </div>
              <div class="banner-head">
                <div class="banner-head-padding banner-head-margin">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-12">
                        <span class="heading-meta">.255 events</span>
                        <h2
                          class="pwe-heading animate-box"
                          data-animate-effect="fadeInLeft"
                        >
                          About Me
                        </h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="elementor-section elementor-top-section elementor-element elementor-element-41f3082 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
  data-id="41f3082"
  data-element_type="section"
>
  <div class="elementor-container elementor-column-gap-no">
    <div
      class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-c8e972b"
      data-id="c8e972b"
      data-element_type="column"
    >
      <div class="elementor-widget-wrap elementor-element-populated">
        <div
          class="elementor-element elementor-element-2f15f54 elementor-align-left elementor-widget elementor-widget-pages-about"
          data-id="2f15f54"
          data-element_type="widget"
          data-widget_type="pages-about.default"
        >
          <div class="elementor-widget-container">
            <div class="about-section pt-0 pb-60">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6 text-center">
                    <img
                      decoding="async"
                      src="/ce-content/uploads/2021/06/wedding-planner.jpg"
                      class="img-fluid mb-30 animate-box"
                      data-animate-effect="fadeInLeft"
                      alt=""
                    />
                    <h4
                      class="pwe-about-subheading animate-box"
                      data-animate-effect="fadeInUp"
                    >
                      To Know Us is to Love Us!
                    </h4>
                  </div>
                  <div
                    class="col-md-6 animate-box"
                    data-animate-effect="fadeInLeft"
                  >
                    <h3 class="pwe-about-heading">
                      About Me
                    </h3>
                      <strong>Catherine James</strong> is a Tanzanian Wedding and Event Planner passionate about crafting seamless and memorable celebrations. 
                      She holds a <strong>BA in Public Relations and Advertising</strong> from the University of Dar es Salaam (with honors) 
                      and a <strong>Certificate in Wedding and Event Planning</strong> from the South Africa School of Weddings and Events.
                    </p>

                    <p>
                      Continuously striving for excellence, Catherine attended the world's largest wedding planning conference in 
                      <strong>Ras Al Khaimah (2025)</strong>, learning from top industry experts like <strong>Colin Cowie</strong>, 
                      <strong>Baz Walid</strong> (Baz Events – India), <strong>Charles Kaisin</strong>, <strong>Sarah Haywood</strong>, 
                      <strong>Gabriel Rizzi</strong>, and more. With a background in project management, she blends strategic planning 
                      with creative vision to deliver breathtaking weddings, corporate events, and social gatherings. Through an extensive 
                      international network, Catherine and her team are ready to work globally, bringing world-class event experiences to any destination.
                    </p>

                    <p>
                      Beyond event planning, Catherine is a passionate philanthropist and the founder of <strong>255 Events</strong>, 
                      a platform dedicated to empowering underprivileged youth through skills training and employment. By equipping young 
                      men and women with vocational skills in event management, décor styling, and related fields, she helps them build 
                      sustainable careers, support their families, and break the cycle of poverty.
                    </p>

                    <p>
                      255 Events aligns with <strong>Tanzania's National Strategy for Growth and Reduction of Poverty (NSGRP)</strong> 
                      and the <strong>National Youth Development Policy</strong>, actively supporting government efforts to create 
                      economic opportunities for youth. Through her work, Catherine is not only shaping futures but also fostering 
                      a ripple effect of change—uplifting individuals, families, and communities for a stronger, more resilient society.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="elementor-section elementor-top-section elementor-element elementor-element-5426763 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
  data-id="5426763"
  data-element_type="section"
>
  <div class="elementor-container elementor-column-gap-no">
    <div
      class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-8964223"
      data-id="8964223"
      data-element_type="column"
    >
      <div class="elementor-widget-wrap elementor-element-populated">
        <div
          class="elementor-element elementor-element-757b5f5 elementor-align-left elementor-widget elementor-widget-pages-team"
          data-id="757b5f5"
          data-element_type="widget"
          data-widget_type="pages-team.default"
        >
          <div class="elementor-widget-container">
            <div class="team-section team pt-90 pb-90 bg-pink">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12 mb-30">
                    <span class="heading-meta">associate</span>

                    <h2
                      class="pwe-heading mb-30 animate-box"
                      data-animate-effect="fadeInLeft"
                    >
                      Creative Team
                    </h2>
                  </div>
                </div>

                <div class="row">
                  <div
                    class="col-md-12 owl-carousel owl-theme animate-box"
                    data-animate-effect="fadeInLeft"
                  >
                  {{#each team}}
                    <div class="item">
                      <div class="img">
                        <img
                          decoding="async"
                          src="{{imageurl}}"
                          alt=""
                        />
                      </div>

                      <div class="info">
                        <h6>{{name}}</h6>

                        <p>{{title}}</p>

                        <div class="social valign">
                          <div class="full-width">
                            <p><i>Follow Me!</i></p>

                            <a href="{{facebook}}"><i
                                class="ti-facebook"
                              ></i></a>
                            <a href="{{twitter}}"><i
                                class="ti-twitter-alt"
                              ></i></a>
                            <a href="{{instagram}}"><i
                                class="ti-instagram"
                              ></i></a>
                            <a href="{{pinterest}}"><i
                                class="ti-pinterest"
                              ></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  {{/each}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>