<section
  class="elementor-section elementor-top-section elementor-element elementor-element-fba6dd1 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
  data-id="fba6dd1"
  data-element_type="section"
>
  <div class="elementor-container elementor-column-gap-no">
    <div
      class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-c215bc9"
      data-id="c215bc9"
      data-element_type="column"
    >
      <div class="elementor-widget-wrap elementor-element-populated">
        <div
          class="elementor-element elementor-element-dca4a7c elementor-align-left elementor-widget elementor-widget-pages-header"
          data-id="dca4a7c"
          data-element_type="widget"
          data-widget_type="pages-header.default"
        >
          <div class="elementor-widget-container">
            <div class="banner-container">
              <div class="banner-img">
                <img
                  decoding="async"
                  class="banner-img-width"
                  src="/ce-content/uploads/2021/06/topbanner.jpg"
                  alt=""
                />
              </div>
              <div class="banner-head">
                <div class="banner-head-padding banner-head-margin">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-12">
                        <span class="heading-meta">.255 events</span>
                        <h2
                          class="pwe-heading animate-box"
                          data-animate-effect="fadeInLeft"
                        >
                          About Us
                        </h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="elementor-section elementor-top-section elementor-element elementor-element-41f3082 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
  data-id="41f3082"
  data-element_type="section"
>
  <div class="elementor-container elementor-column-gap-no">
    <div
      class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-c8e972b"
      data-id="c8e972b"
      data-element_type="column"
    >
      <div class="elementor-widget-wrap elementor-element-populated">
        <div
          class="elementor-element elementor-element-2f15f54 elementor-align-left elementor-widget elementor-widget-pages-about"
          data-id="2f15f54"
          data-element_type="widget"
          data-widget_type="pages-about.default"
        >
          <div class="elementor-widget-container">
            <div class="about-section pt-0 pb-60">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6 text-center">
                    <img
                      decoding="async"
                      src="/ce-content/uploads/2021/06/wedding-planner.jpg"
                      class="img-fluid mb-30 animate-box"
                      data-animate-effect="fadeInLeft"
                      alt=""
                    />
                    <a href="/about-cate"></a>
                    <h4
                      class="pwe-about-subheading animate-box"
                      data-animate-effect="fadeInUp"
                    >
                      To Know Us is to Love Us! Read About ME!!
                    </h4>
                  </div>
                  <div
                    class="col-md-6 animate-box"
                    data-animate-effect="fadeInLeft"
                  >
                    <h3 class="pwe-about-heading">
                      255 Events
                    </h3>
                    <h4 class="pwe-about-subheading">
                      <b>255 Events</b> is a Dar es Salaam-based event planning company with over seven years of experience. 
                      We specialize in destination weddings, corporate, social, and nonprofit events. 
                    </h4>

                    <p>
                      What truly sets <b>255 Events</b> apart is our relentless commitment to delivering exceptional guest experiences, 
                      trendsetting designs, and innovative event solutions. We aim to engage every sense, incorporating elements 
                      that surprise and delight, 
                      leaving every guest with cherished memories.
                    </p>
                    <p>
                     Our extensive industry knowledge and strong network of connections enable us to consistently bring creative and unique ideas to every event. With access to exclusive locations, tailored packages, and our trusted partnerships with carefully selected professionals, suppliers, and caterers, 
                     we are dedicated to helping you create unforgettable experiences.
                    </p>
                    <p>
                      We have successfully organized events across Tanzania, with most taking place in Dar es Salaam, Arusha, and Zanzibar. 
                      Whether it's intimate elopements, destination weddings, birthday celebrations, private gatherings, or large-scale corporate functions,
                       we are equipped to meet all your event needs.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="elementor-section elementor-top-section elementor-element elementor-element-5426763 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
  data-id="5426763"
  data-element_type="section"
>
  <div class="elementor-container elementor-column-gap-no">
    <div
      class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-8964223"
      data-id="8964223"
      data-element_type="column"
    >
      <div class="elementor-widget-wrap elementor-element-populated">
        <div
          class="elementor-element elementor-element-757b5f5 elementor-align-left elementor-widget elementor-widget-pages-team"
          data-id="757b5f5"
          data-element_type="widget"
          data-widget_type="pages-team.default"
        >
          <div class="elementor-widget-container">
            <div class="team-section team pt-90 pb-90 bg-pink">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12 mb-30">
                    <span class="heading-meta">associate</span>

                    <h2
                      class="pwe-heading mb-30 animate-box"
                      data-animate-effect="fadeInLeft"
                    >
                      Creative Team
                    </h2>
                  </div>
                </div>

                <div class="row">
                  <div
                    class="col-md-12 owl-carousel owl-theme animate-box"
                    data-animate-effect="fadeInLeft"
                  >
                  {{#each team}}
                    <div class="item">
                      <div class="img">
                        <img
                          decoding="async"
                          src="{{imageurl}}"
                          alt=""
                        />
                      </div>

                      <div class="info">
                        <h6>{{name}}</h6>

                        <p>{{title}}</p>

                        <div class="social valign">
                          <div class="full-width">
                            <p><i>Follow Me!</i></p>

                            <a href="{{facebook}}"><i
                                class="ti-facebook"
                              ></i></a>
                            <a href="{{twitter}}"><i
                                class="ti-twitter-alt"
                              ></i></a>
                            <a href="{{instagram}}"><i
                                class="ti-instagram"
                              ></i></a>
                            <a href="{{pinterest}}"><i
                                class="ti-pinterest"
                              ></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  {{/each}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>